# 1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

In [2]:
data=[4,8,15,16,23,42]
series=pd.Series(data)

In [4]:
series

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the  variable print it

In [5]:
import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_series = pd.Series(my_list)

print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

# Q3. Create a Pandas DataFrame that contains the following data:

In [6]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Key differences between a DataFrame and a Series:

Dimensionality: A DataFrame is a 2-dimensional data structure, whereas a Series is a 1-dimensional data structure.

Columns and Index: A DataFrame consists of multiple named columns, and each column can have a different data type. It also has an index that labels the rows. In contrast, a Series has only one column and an index that labels its elements.

Tabular Structure: A DataFrame is a tabular structure that can represent a complete dataset, including multiple variables or features. A Series represents a single column of data from a DataFrame.

Operations: DataFrames and Series support different operations. DataFrames can perform operations on entire columns or subsets of data, such as filtering, merging, grouping, and aggregation. Series, being 1-dimensional, are suitable for element-wise operations, calculations, and statistical analysis.

In summary, a DataFrame is a 2-dimensional labeled data structure representing a table-like format with rows and columns, whereas a Series is a 1-dimensional labeled array-like object that represents a single column of data from a DataFrame.

# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

Pandas provides a wide range of functions to manipulate and transform data in a DataFrame. Here are some commonly used functions:

head() and tail(): These functions allow you to retrieve the first few rows (head()) or the last few rows (tail()) of a DataFrame. They are often used to quickly inspect the structure and contents of a DataFrame.

info(): This function provides a summary of the DataFrame, including the column names, data types, and memory usage. It helps in understanding the overall structure and composition of the DataFrame.

describe(): This function generates descriptive statistics of the numeric columns in the DataFrame, such as count, mean, standard deviation, minimum, and maximum values. It provides a quick overview of the distribution and summary statistics of the numerical data.

shape: This attribute returns a tuple representing the dimensions (number of rows, number of columns) of the DataFrame. It is used to check the size or shape of the DataFrame.

loc[ ] and iloc[ ]: These indexers are used to access and manipulate data in a DataFrame based on labels (loc[]) or integer-based positions (iloc[]). They allow you to select specific rows and columns or update values in the DataFrame.

drop(): This function is used to remove rows or columns from the DataFrame. It can be useful when you want to eliminate irrelevant or redundant data from the DataFrame.

sort_values(): This function is used to sort the DataFrame based on one or more columns. It helps in arranging the data in a desired order, such as ascending or descending order of a specific column.

#  Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In Pandas, the Series and DataFrame are mutable in nature, while the Panel is not mutable.

# Q7. Create a DataFrame using multiple Series. Explain with an example.

In [8]:
import pandas as pd

# Creating Series objects
name_series = pd.Series(['Akash', 'mahesh', 'king'])
age_series = pd.Series([21, 20, 51])
gender_series = pd.Series(['male', 'Male', 'male'])

# Creating DataFrame using Series
data = {
    'Name': name_series,
    'Age': age_series,
    'Gender': gender_series
}
df = pd.DataFrame(data)

print(df)

     Name  Age Gender
0   Akash   21   male
1  mahesh   20   Male
2    king   51   male